<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet"/>
    <title><%= title %></title>
</head>
<style>
    body {
      background-image: url('https://wallpapercave.com/wp/m8wqdGZ.jpg');
      
    }
    </style>
<body>
    <%- include('header.ejs') %>
    <div>
        
        <h6><a href="/elections">All Elections</a>
            ->
            <a href="/elections/<%= electionID %>/">Election</a>
            ->
            <a href="/elections/<%= electionID %>/voters">Voters</a></h6>
    </div>
    
    <h4 style="margin-left: 600px;">Add a voter</h4>
        <div>
            <% if (messages && messages.error && messages.error.length > 0) { %>
                <% for(var i=0; i<messages.error.length; i++) { %>
                    <p><%= messages.error[i] %></p>
                <% } %>
            <% } %>
        </div>
            <form action="/elections/<%= electionID %>/voters/create" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <div class="form-group">
                <label for="voterid">Voter ID</label>
                <input id="voterid" name="voterid" type="voterid" placeholder="Voter ID" class="form-control" required>
                </div>
                <div class="form-group">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" placeholder="Password" class="form-control" required>
                </div>
                <br>
                <button type="submit" class="btn btn-outline-primary">Add voter</button>
            </form>
</body>
</html>