<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet"/>
    <title><%= title %></title>
</head>
<style>
    body {
      background-image: url('https://wallpapercave.com/wp/m8wqdGZ.jpg');
      
    }
    </style>
<body>
    <%- include('header.ejs') %>
    <div>
        <h6><a href="/elections">All Elections</a><span>></span></h6>
    </div>
    <div>
        <h2><%= title %></h2>
        <div class="my-8">
            <h3>This election has <span style="color: blue;"> <%= nq %> </span> questions in the ballot</h3>
            <a href="/elections/<%= id %>/questions" class="btn btn-primary">Manage questions</a>
        </div>
        <div class="my-8">
            <h3>This election has <span style="color: blue;"> <%= nv %> </span> registered voters.</h3>
            <a href="/elections/<%= id %>/voters" class="btn btn-primary">Manage voters</a>
        <br>
        <br>
        </div>
            <a href="" class="btn btn-warning">Launch this election</a>
        </div>
    </div>
</body>
</html>